/* Navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
}

.navbar ul {
  display: flex;
  gap: 2rem;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: var(--text-hover-color);
}

.navbar button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.navbar button:hover {
  background-color: var(--button-hover-bg-color);
}
